<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">

        <!-- DM Serif Display from Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

        <style>
            .dm-serif { font-family: 'DM Serif Display', serif; }
        </style>

        <title>Welcome to Prioriti</title>
</head>
<body class="flex flex-col gap-3 justify-center items-center bg-[#fadfc0] p-10">
    <h1 class="text-4xl font-semibold dm-serif">Welcome to Prioriti!</h1>
    <p class="text-xl font-light font-sans">Your task management solution.</p>
</body>
</html>
